$font-size-default: 14px;
$font-size-small: .8rem;
$font-size-large: 1.5rem;
$font-size-larger: 2.5rem;

$font-family-default: Trebuchet MS, Helvetica, sans-serif;

.label {
  font-size: $font-size-larger; 
}
