<div class="account-box center-self">
    <div class="content center-items">
        <form class="center-items">
          <input type="email" name="email" value="" placeholder="email">
          <input type="password" name="password" value="" placeholder="password">
          <div class="btn btn-transparent" type="button" name="button">Create Account</div>
        </form>
        <div class="btn btn-transparent" type="button" onlogin="checkLoginState();">Use Facebook</div>
    </div>
    <div class="bottom-redirect-message center-items">
        <span>Already have an account? <a href="/login">Log in!<a><span/>
    </div>
</div>
